<ion-header>
  <ion-toolbar>
    <ion-title>Bazaar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="bazaar">
  </app-building-info>

  
  <ng-container *ngFor="let type of ['Weapon', 'Armor', 'Potion']">
    <ion-item *ngIf="town.itemsForSale[type].length < typeTotal(type)">
      Next {{ type }}:&nbsp;<countdown [config]="{ stopTime: town.nextItemCreation[type], format: 'mm:ss', prettyText: formatPreDuration }"></countdown>
    </ion-item>
  </ng-container>

  <ion-list-header>Actions</ion-list-header>

  <ion-item (click)="openItemsWindow()">
    <ion-label>
      View Items
    </ion-label>

    <ion-button slot="end">View</ion-button>
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="bazaar"></app-feature-list>