<ion-header>
  <ion-toolbar>
    <ion-title>Bazaar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="bazaar">
  </app-building-info>

  <ion-item>
    Item Cost Multiplier: {{ costMultiplier * 100 | number }}%
  </ion-item>

  <ion-item *ngIf="loanPercent > 0">
    Hero Loan Percent: {{ loanPercent | number:'1.0-3' }}%
  </ion-item>

  <ng-container *ngFor="let type of itemTypes">
    <ion-item *ngIf="getItems(type).length < getTypeTotal(type)">
      Next {{ type }}:&nbsp;<countdown [config]="{ stopTime: getConstructionType(type), format: 'mm:ss', prettyText: formatPreDuration }"></countdown>
    </ion-item>
  </ng-container>

  <ion-list-header>Actions</ion-list-header>

  <ion-item (click)="openItemsWindow()">
    <ion-label>
      View Items
    </ion-label>

    <ion-button slot="end">View</ion-button>
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="bazaar"></app-feature-list>