
<ion-list *ngIf="allFeatures.length > 0">
  <ion-list-header>
    <h4>Features</h4>
  </ion-list-header>

  <ion-item *ngIf="allFeatures.length === 0">
    No features available for purchase.
  </ion-item>

  <ion-item *ngFor="let feature of allFeatures">
    <ion-label class="ion-text-wrap">
      <h2>{{ feature.name }}</h2>
      <p>{{ feature.description }}</p>
      <p *ngIf="!town.buildings[buildingId].featureConstruction || !town.buildings[buildingId].featureConstruction[feature.name]">
        Next Level Cost: {{ game.buildingFeatureCost(buildingId, feature.name) | bignum }} gold
      </p>
      <p *ngIf="game.canRushBuildingFeature(town, buildingId, feature.name)">
        Rush Cost: {{ game.buildingFeatureRushCost(buildingId, feature.name) | bignum }} gold
      </p>
      <p *ngIf="town.buildings[buildingId].featureConstruction && town.buildings[buildingId].featureConstruction[feature.name] > 1">
        Feature done in <countdown [config]="{ stopTime: town.buildings[buildingId].featureConstruction[feature.name] }"></countdown>
      </p>
      <p *ngIf="town.buildings[buildingId].featureConstruction && town.buildings[buildingId].featureConstruction[feature.name] === 1">
        Finishing...
      </p>
    </ion-label>

    <ion-button slot="end"  
                (click)="game.upgradeBuildingFeature(town, buildingId, feature.name)" 
                *ngIf="game.canUpgradeBuildingFeature(town, buildingId, feature.name)">Purchase</ion-button>

    <ion-button slot="end"  
                (click)="game.rushBuildingFeature(town, buildingId, feature.name)" 
                *ngIf="game.canRushBuildingFeature(town, buildingId, feature.name)">Rush</ion-button>
  </ion-item>
</ion-list>