<ion-header>
  <ion-toolbar>
    <ion-title>Archives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="archives">
  </app-building-info>

  <ion-list-header>Actions</ion-list-header>

  <ion-item (click)="openStatsWindow()">
    <ion-label>
      View Town Records
    </ion-label>

    <ion-button slot="end">View</ion-button>
  </ion-item>

  <ion-item (click)="openFameWindow()">
    <ion-label>
      View Hall of Fame
    </ion-label>

    <ion-button slot="end">View</ion-button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>News Archive</ion-list-header>

  <ion-item *ngFor="let notification of notifications$ | async">
    <ion-label class="ion-text-wrap">
      <p>{{ notification.timestamp | date:'mediumTime' }}</p>
      <h3>{{ notification.message }}</h3>
    </ion-label>
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="archives"></app-feature-list>