  
<ion-header>
  <ion-toolbar>
    <ion-title>
      Adventures
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Active Adventures ({{ (activeAdventures$ | async)?.length }}/{{ simultaneousAdventures }})</ion-list-header>

    <ion-item *ngIf="(activeAdventures$ | async)?.length === 0">You have no active adventures.</ion-item>
    <app-adventure *ngFor="let adv of activeAdventures$ | async" 
                   [town]="town" 
                   [adventure]="adv"
                   isActive="true"></app-adventure>

    <ion-list-header class="ion-margin-top">
      <ion-label>Possible Adventures</ion-label>
      <ion-button class="ion-margin-end thin-button" fill="outline" (click)="game.rerollAdventures(town, true)">Reroll for {{ game.adventureRerollCost(town) | bignum }} gold</ion-button>
    </ion-list-header>

    <ion-item *ngIf="(potentialAdventures$ | async)?.length === 0">There are no potential adventures.</ion-item>
    <app-adventure *ngFor="let adv of potentialAdventures$ | async" 
                   [town]="town" 
                   [adventure]="adv" 
                   [canDoAdventure]="canDoAdventures$ | async"></app-adventure>
  </ion-list>
</ion-content>