<ion-header>
  <ion-toolbar>
    <ion-title>Workshop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="workshop">
  </app-building-info>
</ion-list>

<ion-list>
  <ion-list-header>Automation</ion-list-header>

  <ion-item *ngIf="!hasAnyAutomation()">No automation upgrades earned.</ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Train Heroes')">
    <ion-label>Train Heroes</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationHeroes" (click)="toggleOption('automationHeroes')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Upgrade Buildings')">
    <ion-label>Upgrade Buildings</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationBuildings" (click)="toggleOption('automationBuildings')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Building Features')">
    <ion-label>Building Features</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationFeatures" (click)="toggleOption('automationFeatures')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Adventure')">
    <ion-label>Adventure</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationAdventures" (click)="toggleOption('automationAdventures')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Scrap Items')">
    <ion-label>Scrap Items</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationScrap" (click)="toggleOption('automationScrap')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Recruit Heroes')">
    <ion-label>Recruit Heroes</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationRecruit" (click)="toggleOption('automationRecruit')"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="hasSpecificAutomation('Automation: Retire Heroes')">
    <ion-label>Retire Heroes</ion-label>
    <ion-toggle [(ngModel)]="optionValues.automationRetire" (click)="toggleOption('automationRetire')"></ion-toggle>
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="workshop"></app-feature-list>