
ion-grid, ion-row, ion-col {
  height: 100%;
}

@media screen and (min-width: 1335px) {
  .map-container {
    max-width: 900px !important;
    flex: 1 !important;
  }

  .town-container {
    min-width: calc(100vw - 900px);
    flex: 1 !important;
  }
}

.update-notification-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .update-notification {
    background-color: rgba(0, 0, 0, 0.8);
    width: 40%;
    height: 32px;
    padding: 10px;
  
    border: 1px solid #530053;
    outline: 1px solid #000;
  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  
    top: 20px;
    left: auto;
    right: auto;
  
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}