
<ion-content>

  <div class="update-notification-container" *ngIf="hasUpdate">
    <div class="update-notification">
      Update available! <ion-button class="thin-button" fill="outline" (click)="refresh()">Refresh</ion-button>
    </div>
  </div>

  <ion-grid class="ion-no-padding" *ngIf="(currentTown$ | async) as town">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding map-container" size="8">
        <app-current-map [town]="town"></app-current-map>
        <app-current-notification></app-current-notification>
      </ion-col>

      <ion-col class="ion-no-padding town-container" size="4">
        <app-current-town [town]="town"></app-current-town>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
