
<ion-item>
  <ion-label class="ion-text-wrap">
    <h3>
      {{ adventure.name }}
    </h3>

    <p>Duration: <countdown [config]="{ leftTime: adventure.duration * 6, demand: true, format: 'HH:mm', prettyText: formatPreDuration }"></countdown></p>
    <p>Encounter Level: {{ adventure.encounterLevel }}</p>
    <p>Encounters: {{ adventure.encounterCount }}</p>
  </ion-label>

  <ion-button class="go" slot="end" (click)="go()" [disabled]="!canDoAdventure">
    Adventure, Ho!
  </ion-button>
</ion-item>