<ion-header>
  <ion-toolbar>
    <ion-title>
      Bazaar Items
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-help-text helpText="The Bazaar is a place for your heroes to come and buy items. You don't directly purchase anything here, but you can remove items you think are bad or items that just aren't getting bought."></app-help-text>

  <ion-list *ngIf="currentTownItemsForSale$ | async as itemsForSale">
    <ng-container *ngFor="let type of itemTypes">
      <ion-list-header>{{ type }}s ({{ getItems(itemsForSale, type).length }}/{{ getTypeTotal(type) }})</ion-list-header>
      <ion-item *ngIf="itemsForSale[type].length === 0">No {{ type.toLowerCase() }}s for sale.</ion-item>
      <app-item *ngFor="let item of itemsForSale[type]; trackBy: trackItemBy" [item]="item" showScrapIcon="true" showPassedOver="true" (click)="scrapItem(item)"></app-item>
    </ng-container>
  </ion-list>
</ion-content>