
<ion-item>
  <app-hero-sprite slot="start" class="ion-margin-start" [sprite]="hero.sprite"></app-hero-sprite>
  
  <ion-button class="info" icon-only [color]="game.canRetireHero(town, hero) ? 'success' : 'secondary'" slot="start">
    <ion-icon [name]="game.canRetireHero(town, hero) ? 'star' : 'information-circle-outline'"></ion-icon>
  </ion-button>

  <ion-label class="ion-text-wrap">
    <h3>
      {{ hero.name }} ({{ hero.job.substring(0, 3).toUpperCase() }} Lv.{{ hero.stats.lvl }})
    </h3>

    <p *ngIf="showTraits">Traits: {{ hero.traits.join(', ') }}</p>

    <p *ngIf="!cost">Status: <span [class.has-info]="hero.currentlyWorkingAt" [display]="workingExplanation" [tooltip]="workingExplanation" placement="right">{{ status }}</span></p>

    <p *ngIf="cost">Recruitment Fee: {{ cost | bignum }} gold</p>

    <div class="icons" *ngIf="stars.length > 0">
      <ion-icon [name]="icon" *ngFor="let icon of stars; let i = index" [ngClass]="['star-' + starColor(i)]"></ion-icon>
    </div>

    <ion-row class="stat-block">
      <ion-col class="stat" size="4" *ngFor="let stat of topStats">
        {{ stat | uppercase }} {{ getStat(stat) | bignum }} <span *ngIf="!cost">/ {{ getTotalStat(stat) | bignum }}</span>
      </ion-col>
      <ion-col class="stat" size="4" *ngFor="let stat of bottomStats">
        {{ stat | uppercase }} {{ getStat(stat) | bignum }}
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>