
h3 {
  display: flex;
}

.stat-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .stat {
    flex: 1;
    width: 50%;
    font-size: 0.9rem;
    padding: 0;
  }
}

.name-container {
  display: flex;

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ion-label {
  position: relative;

  .icons {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

h3 {
  font-size: 1.1rem;
}

app-hero-sprite {
  align-self: start;
  margin-top: 36px;
}

ion-button {
  position: absolute;

  &.info {
    top: 10px;
    left: 56px;
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
    width: 15px;
    height: 15px;
  }
}