
h3 {
  display: flex;
}

.stat-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .stat {
    flex: 1;
    width: 50%;
    font-size: 0.9rem;
    padding: 0;
  }
}

.name-container {
  display: flex;

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ion-label {
  position: relative;

  .icons {
    position: absolute;
    top: 0;
    right: 0;
  }
}

h3 {
  font-size: 1.1rem;
}

app-hero-sprite {
  align-self: start;
  margin-top: 36px;
}

ion-button {
  position: absolute;

  &.info {
    top: 10px;
    left: 56px;
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
    width: 15px;
    height: 15px;
  }
}

.star-red {
  color: #f77c7c;
}

.star-green {
  color: #2cd559;
}

.star-blue {
  color: #63b5cf;
}

.star-rainbow {
  animation: rainbow 3s linear infinite alternate;
  color: #fff;
}

@keyframes rainbow { 
    0%   { color: #ff2400 }
    16%  { color: #e81d1d }
    32%  { color: #e8b71d }
    48%  { color: #e3e81d }
    64%  { color: #1de840 }
    80%  { color: #1ddde8 }
    100% { color: #dd00f3 }
}