
<ion-item>
  <app-hero-sprite slot="start" class="ion-margin-start" [sprite]="hero.sprite"></app-hero-sprite>

  <ion-button class="recruit" slot="start" *ngIf="cost" (click)="recruit()" [disabled]="!canBuyHero">
    Recruit
  </ion-button>
  
  <ion-button class="dismiss" icon-only color="danger" slot="start" *ngIf="!cost" (click)="dismiss()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>

  <ion-label class="ion-text-wrap">
    <h3>
      {{ hero.name }} ({{ hero.job.substring(0, 3).toUpperCase() }} Lv.{{ hero.stats.lvl }})
    </h3>

    <p *ngIf="cost">Recruitment Fee: {{ cost | bignum }} gold</p>

    <div class="icons" *ngIf="stars.length > 0">
      <ion-icon [name]="icon" *ngFor="let icon of stars"></ion-icon>
    </div>

    <ion-row class="stat-block">
      <ion-col class="stat" size="4" *ngFor="let stat of statOrder">
        {{ stat | uppercase }} {{ getStat(stat) | bignum }}
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>