<ion-header>
  <ion-toolbar>
    <ion-title>
      Town Records
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="currentTown$ | async as town">
    <ion-row class="allow-splitter">
      <ion-col size="12" size-lg="4" class="ion-no-padding" *ngFor="let stat of town.stats | keyvalue">
        <ion-list>
          <ion-list-header class="item-header">
            <ion-row>
              <ion-col>{{ getHeader(stat.key) }}</ion-col>
              <ion-col class="ion-text-right ion-padding-end">{{ (sumSection(stat.value) || 0) | bignum }}</ion-col>
            </ion-row>
          </ion-list-header>
  
          <ng-container *ngFor="let substat of stat.value | keyvalue">
            <ion-item>
              <ion-col>
                <span [class.has-info]="hasTooltip(stat.key, substat.key)"
                      [display]="hasTooltip(stat.key, substat.key)" 
                      [tooltip]="getTooltip(stat.key, substat.key, substat.value || 0)">{{ substat.key }}</span>
              </ion-col>
              <ion-label slot="end" class="ion-text-right">
                {{ (substat.value || 0) | bignum }}
              </ion-label>
            </ion-item>
          </ng-container>
    
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>