  
<ion-header>
  <ion-toolbar>
    <ion-title>
      Guild Recruits
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Recruited Heroes</ion-list-header>

    <ion-item *ngIf="(recruitedHeroes$ | async)?.length === 0">You have no recruited heroes.</ion-item>
    <app-hero *ngFor="let hero of recruitedHeroes$ | async" [town]="town" [hero]="hero"></app-hero>

    <ion-list-header class="ion-margin-top">
      <ion-label>Potential Hero Recruits</ion-label>
      <ion-button class="ion-margin-end thin-button" fill="outline" (click)="game.rerollProspectiveHeroes(town, true)">Reroll for {{ game.heroRerollCost(town) | bignum }} gold</ion-button>
    </ion-list-header>

    <ion-item *ngIf="(prospectiveHeroes$ | async)?.length === 0">There are no prospective heroes.</ion-item>
    <app-hero *ngFor="let prospectiveHero of prospectiveHeroes$ | async" 
              [town]="town" 
              [hero]="prospectiveHero.hero" 
              [cost]="prospectiveHero.cost"
              [canBuyHero]="canHeroBeBought(prospectiveHero)"
              [rating]="prospectiveHero.rating"></app-hero>
  </ion-list>
</ion-content>