
.hero-stat {
  text-align: center;
}

.exp-row {
  display: flex;
  align-items: center;

  ion-button {
    margin-left: 10px;
  }
}

ion-button.info {
  position: absolute;
  top: 13px;
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  width: 15px;
  height: 15px;

  z-index: 50;
  
  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }

}