<ion-header>
  <ion-toolbar>
    <ion-title>Cave of Adventure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="cave">
  </app-building-info>

  <ion-item>
    Simultaneous Adventures: {{ simultaneousAdventures }}
  </ion-item>

  <ion-item>
    Max Encounters: {{ maxEncounters }}
  </ion-item>

  <ion-item>
    GOLD/EXP Bonus: +{{ goldModifier | number }}% / +{{ expModifier | number }}%
  </ion-item>

  <ion-list-header>Actions</ion-list-header>

  <ion-item (click)="openAdventureWindow()">
    <ion-label>
      View Adventures
    </ion-label>

    <ion-button slot="end">View</ion-button>
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="cave"></app-feature-list>