<ion-header>
  <ion-toolbar>
    <ion-title>Watchtower ({{ version }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>

  <ion-list-header>
    <h4>Options</h4>
  </ion-list-header>

  <ng-container *ngIf="options$ | async as options">
    <ion-item>
      <ion-label>Show Help Text</ion-label>
      <ion-toggle [checked]="options.showHelpText" (click)="toggleOption('showHelpText')"></ion-toggle>
    </ion-item>
  </ng-container>

  <ion-list-header>
    <h4>Savefile Operations</h4>
  </ion-list-header>

  <ion-item>
    <input type="file" id="file-selector" accept=".sav" class="ion-hide" (change)="import($event)" #fileLoad>
    <ion-label class="ion-text-wrap" (click)="fileLoad.click()">
      <h2>Import Savefile</h2>
      <p>You can import another save file, but you might want to back up your existing one first in case the one you import isn't compatible.</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap" (click)="export()">
      <h2>Export Savefile</h2>
      <p>Export your save file to back it up or share it for debugging purposes.</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap" (click)="delete()">
      <h2>Delete Savefile</h2>
      <p>If you want to start your game over entirely, this is the action you want to take. Just make sure you really, really want to.</p>
    </ion-label>
  </ion-item>

  <ion-list-header>
    <h4>Support & Credits</h4>
  </ion-list-header>

  <ion-item target="_blank" rel="noopener noreferrer" href="https://patreon.com/seiyria">
    <ion-label class="ion-text-wrap">
      <h2>Support me on Patreon!</h2>
    </ion-label>
  </ion-item>
  
  <ion-item target="_blank" rel="noopener noreferrer" href="https://discord.gg/MG8cNts">
    <ion-label class="ion-text-wrap">
      <h2>Join the Rasterkhann Discord!</h2>
    </ion-label>
  </ion-item>
  
  <ion-item target="_blank" rel="noopener noreferrer" href="https://reddit.com/r/rasterkhann">
    <ion-label class="ion-text-wrap">
      <h2>Join /r/rasterkhann!</h2>
    </ion-label>
  </ion-item>
  
  <ion-item target="_blank" rel="noopener noreferrer" href="https://github.com/seiyria/Rasterkhann/blob/main/CHANGELOG.md">
    <ion-label class="ion-text-wrap">
      <h2>See the Rasterkhann Changelog!</h2>
    </ion-label>
  </ion-item>
  
  <ion-item target="_blank" rel="noopener noreferrer" href="https://github.com/seiyria/Rasterkhann">
    <ion-label class="ion-text-wrap">
      <h2>Check the Rasterkhann Repository!</h2>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Credits</h2>
      <p>7Soul (Humble Bundle): Hero sprites, weapon sprites, armor sprites, skill sprites, potion sprites</p>
      <p>Wonderdot (Humble Bundle): Town sprites</p>
    </ion-label>
  </ion-item>
</ion-list>