/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "VT323";
  src: url("assets/font/VT323.svg") format("svg"),
       url("assets/font/VT323.ttf") format("truetype"),
       url("assets/font/VT323.woff") format("woff"),
       url("assets/font/VT323.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ion-font-family: "VT323", Roboto, "Helvetica Neue", sans-serif !important;
  --ion-padding: 8px;
}

* {
  letter-spacing: 1px !important;

  &:not(ion-button) {
    font-size: 1.1rem !important;
  }
}

ion-toolbar {
  --min-height: 36px;
}

ion-list {
  padding-top: 0 !important;
}

ion-item {
  --min-height: 26px;

  &:not(.no-cursor) {
    cursor: pointer;
  }
}

.cursor {
  cursor: pointer;
}

.thin-button {
  height: 26px;
}

.inline-button {
  height: 16px;
  margin: 0;
}

ion-title, ion-title h2, 
ion-list-header, ion-list-header h4,
ion-item-divider {
  font-size: 1.4rem !important;
  letter-spacing: 2px !important;
  background-color: #530053;
  color: #ccc;
}

ion-header {
  --ion-toolbar-background: #530053;
}

ion-button:not(.in-toolbar) {
  font-size: 0.9rem;

}
@media only screen and (min-height: 768px) and (min-width: 768px) {
  .sc-ion-modal-md-h {
    justify-content: flex-start;
    padding-left: 5%;
      --width: 60%;
      --height: calc(100% - 210px);
  }
}