<ion-header>
  <ion-toolbar>
    <ion-title>Armory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-building-info [town]="town"
                     buildingId="armory">
  </app-building-info>

  <ion-item *ngIf="maximumArmors > 0">
    Armor Creation: {{ armorCreationTime / 60 }}m per armor (max: {{ maximumArmors }})
  </ion-item>

  <ion-item *ngIf="maximumWeapons > 0">
    Weapon Creation: {{ weaponCreationTime / 60 }}m per weapon (max: {{ maximumWeapons }})
  </ion-item>

  <ion-item>
    Repair Rate: {{ repairRate }} DUR per second (cost: {{ goldPerRepairTick }} gold)
  </ion-item>
</ion-list>

<app-feature-list [town]="town" buildingId="armory"></app-feature-list>