
ion-item {
  padding-left: 20px;
}

.sprite {
  width: 32px;
  height: 32px;
  
  object-fit: none;

  transform: scale(2);
}

.stat-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .stat {
    flex: 1;
    width: 33%;
    font-size: 0.9rem;
    padding: 0;
  }
}

ion-button {
  position: absolute;

  &.danger {
    top: 10px;
    left: 56px;
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
    width: 15px;
    height: 15px;
  }
}

.color-badge {
  max-height: 10px;
}